:root{
    --azul-claro: #e3f4ff;
    --azul-medio: #71a8ff;
    --azul-oscuro: #1A237E;
    --black: #282623;
    --warm-black: #201e1c;
    --gris: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --font-family-titles: 'Dosis', 'sans-serif';
    --font-family-text: 'Red Hat Display', 'sans-serif';
    --font-weigth-title-title1:800;
    --font-weigth-title-title2:700;
    --font-weigth-title-text1:400;
    --font-weigth-title-text2:500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family-text);
    font-size: 62.5%;
}


header{
    height: auto;
    padding: 8px 0;
}
.header-search-container{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.header-search-container .search-container--logo{
    background-image: url(/img/logo.svg);
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    margin-right: 4px;
}


.caja-busqueda-container{
    width: 90%;
    border-radius: 12px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 2px 5px rgb(238, 238, 238);
    background-color: var(--azul-oscuro);
}
.caja-busqueda-container--btn-busqueda{
    position: relative;
    left: -3px;
    top: 2px;
    width: 20px;
    height: 20px;
}

.caja-busqueda-container .caja-busqueda-container--caja-busqueda{
    height: 40px;
    width: 85%;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 12px;
}
/* Seccion de categorias */
.main-categories-container{
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.main-categories-container h2{
    margin-bottom: 5px;
}

.main-categories-container .categories-container--lista{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}

.categories-container--lista li{
    list-style: none;
}

.categories-container--lista li a{
    font-family: var(--font-family-text);
    font-size: 1.2rem;
    font-weight: 500;
}

.lista-categorie{
    position: relative;
}

.lista-categorie span{
    position: absolute;
    left: calc(50% - 12px);
    top: 1px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.lista-categorie:nth-child(1) span {
    background-color: #1A237E;
}

.lista-categorie:nth-child(2) span {
    background-color: #00832c;
}

.lista-categorie:nth-child(3) span {
    background-color: #ff9900;
}

.lista-categorie:nth-child(4) span {
    background-color: #b40054;
}

.lista-categorie a{
    position: absolute;
    right: calc(50% +10px);
    text-decoration: none;
}



/* Seccion de tendencias */
.main-trending-container{
    margin-top: 25px;
    width: 100%;
}

.trending-container-top{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.trending-container-top h2, .trending-container-top input{
    display: inline-block;
}

.trending-container-bot{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    /* Esto habilita el scroll en el contenedor */
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.trending-container-bot img{
    width: 150px;
    margin: 12px;
}

.trending-container-top--btn{
    border-radius: 3px;
    border: none;
    width: 100px;
    height: 25px;
    background-color: var(--azul-claro);
}

.fa-search {
    color: white;
}

/* Seccion de detalles */


.main-detalles-container{
    height: 100%;
}

.detalles-container-top{
    position: relative;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px); /* Aplica el filtro solo al contenedor */  
}

.detalles-container-top::before {
    content: ""; /* Crea un pseudo-elemento para aplicar el filtro de desenfoque */
    position: absolute; /* Posiciona el pseudo-elemento */
    width: 100%; /* Ajusta el ancho para cubrir completamente el contenedor */
    height: 100%; /* Ajusta la altura para cubrir completamente el contenedor */
    background-image: url(/img/coco.jpg); /* Establece la imagen de fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo para cubrir completamente el contenedor */
    filter: blur(10px); /* Aplica el filtro de desenfoque al pseudo-elemento */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}


.detalles-container-top-img{
    width: 40%;
    max-width: 150px;
    position: absolute;
    bottom: calc(50% - 90px);
    left: calc(30%);
    border-radius: 12px;
}

.retroceder{
    color: white;
    z-index: 3;
    position: absolute;
    left: 10px;
}


.detalles-container-top-button{
    background-color: transparent;
    border: none;
    position: absolute;
}

.ocultar{
    display: none;
}

.score-container--img{
    width: 10px;
}

.detalles-container-bot{
    padding: 24px 12px;
}

.detalles-container-bot--container-bot-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px;
}

.detalles-container-bot--container-bot-bot{
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.detalles-container-bot--container-bot-bot .container-bot-bot--categories{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}

.container-bot-bot--categories  li{
    list-style: none;
}

.container-bot-bot--categories li a{
    font-family: var(--font-family-text);
    font-size: 1.2rem;
    font-weight: 500;
}

.lista-categorie{
    position: relative;
}

.lista-categorie span{
    position: absolute;
    left: calc(50% - 12px);
    top: 1px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.lista-categorie:nth-child(1) span {
    background-color: #1A237E;
}

.lista-categorie:nth-child(2) span {
    background-color: #00832c;
}

.lista-categorie:nth-child(3) span {
    background-color: #ff9900;
}


.lista-categorie a{
    position: absolute;
    right: calc(50% +10px);
    text-decoration: none;
}

.c{
    position: relative;
    height: auto;
    width: auto;
    
    top: 30px;
}

.detalles-container-bot--container-bot-bot{
    margin-bottom: 15px;
}