:root{
    --azul-claro: #6EC6FF;
    --azul-medio: #4285F4;
    --azul-oscuro: #1A237E;
    --blanco: #ffffff;
    --negro: #000000;
    --font-family-titles: 'Dosis', 'sans-serif';
    --font-family-text: 'Red Hat Display', 'sans-serif';
    --font-weigth-title-title1:800;
    --font-weigth-title-title2:700;
    --font-weigth-title-text1:400;
    --font-weigth-title-text2:500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family-text);
    font-size: 62.5%;
}


header{
    display: flex;
    height: 10%;
    max-height: 50px;
    justify-content: center;
    height: 100%;
}

.search-container{
    display: flex;
    width: 80%;
}

.caja-busqueda{
    width: 90%;
}


.cont-navbar{
    display: flex;
    flex-direction: column;
    width: 2%;
    height: 90vh;
}

.lista-opciones{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 120px;
    height: 50%;
}